.content-container {
  padding: 2rem;
  font-family: Arial, sans-serif;
  
}

.hero1 {
  text-align: center;
  background: linear-gradient(135deg, #6a11cb,  #8c43d9 );
  color: rgb(5, 4, 4);
  padding: 4rem 2rem;
  border-radius: 15px;
  margin-bottom: 3rem;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.btn-cta {
  padding: 0.8rem 2rem;
  background: #3d05d7;
  color: #fafbfb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.btn-cta:hover {
  background: #a215bf;
}

.courses-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  
  
}

.courses-section{
      border-radius: 8px;

}
.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;

  
}
.course-card {
  background: rgba(154, 11, 216, 0.732);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  
}
.course-card:hover {
  transform: translateY(-5px);
}
.course-image img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.course-info {
  padding: 1rem;
  
  
  
}
.course-info h3 {
  margin-bottom: 0.5rem;
  color: #000;
}
.course-price {
  font-weight: bold;
  margin-bottom: 1rem;
    color: #000 !important;

  
}
.btn-enroll {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
    background: #3d05d7;
    color: #f9f3f3;

}
.btn-enroll:hover {
  background: #6a11cb;
}

.featured {
  text-align: center;
  margin-top: 4rem;
  
}
.featured h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  
}
.featured p {
  font-size: 1.1rem;
  color: #000000;
}

.p-inst{
      font-size: 1rem !important;

    color: #000 !important;
}
