* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #7e3bbd;
}

.unauth-wrapper {
  min-height: 90vh;
  background-color: #6c28d972;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.unauth-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.unauth-card {
  background: rgb(136, 11, 239); 
  backdrop-filter: blur(14px);           
  -webkit-backdrop-filter: blur(14px);   
  width: 300px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}

.unauth-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.unauth-card img:hover{
  cursor: pointer;
}
.unauth-card h3 {
  font-size: 22px;
  margin: 15px 0 5px 0;
  color: #111827;
}

.unauth-card p {
  font-size: 14px;
  color: #090606;
  margin: 0 20px 15px 20px;
}

.unauth-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-top: 1px solid #eee;
}

.unauth-bottom .price {
  font-weight: 600;
  color: #08050b;
}

.unauth-bottom .remove-btn {
  padding: 6px 12px;
  background-color: #f87171;
  color: #fff;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.3s;
}

.unauth-bottom .remove-btn:hover {
  background-color: #dc2626;
}
.unauth-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}